[data-theme=dark]
  --sb-theme $dark_theme
  --sb-theme-op $dark_theme_op
  --sb-theme-op-deep $dark_theme_op_deep
  --sb-theme-none $dark_theme_none
  --sb-blue #0084ff
  --sb-red #ff3842
  --sb-pink #d44040
  --sb-green #3e9f50
  --sb-purple #7a60d2
  --sb-yellow #ffc93e
  --sb-yellow-op #ffc93e30
  --sb-orange #ff953e
  --sb-fontcolor #f7f7fa
  --sb-reverse #fff
  --sb-maskbg rgba(0, 0, 0, 0.6)
  --sb-maskbgdeep rgba(0, 0, 0, 0.85)
  --sb-hovertext #0a84ff
  --sb-ahoverbg #fff
  --sb-lighttext var(--sb-theme)
  --sb-secondtext #a1a2b8
  --sb-scrollbar rgba(200, 200, 223, 0.4)
  --sb-card-btn-bg #30343f
  --sb-post-blockquote-bg #000
  --sb-post-tabs-bg #121212
  --sb-secondbg #30343f
  --sb-secondbg-bg #21232a
  --sb-shadow-nav 0 5px 20px 0px rgba(28, 28, 28, 0.4)
  --sb-card-bg #1b1c20
  --sb-card-bg-op var(--sb-white-op)
  --sb-card-bg-none #1d1b2600
  --sb-shadow-lightblack 0 5px 12px -5px rgba(102, 68, 68, 0.0)
  --sb-shadow-light2black 0 5px 12px -5px rgba(102, 68, 68, 0.0)
  --sb-card-border #3d3d3f
  --sb-shadow-border 0 8px 16px -4px #00000050
  --style-border 1px solid var(--sb-card-border)
  --style-border-always 1px solid var(--sb-card-border)
  --style-border-hover 1px solid var(--sb-theme)
  --style-border-hover-always 1px solid var(--sb-theme)
  --style-border-dashed 1px dashed var(--sb-theme-op)
  --style-border-forever 2px solid var(--sb-lighttext)
  --sb-hl-bg $hl_bg_dark
  --sb-hltools-bg $hltools_bg_dark
  --sb-background #18171d

[data-theme=light]
  --sb-theme $light_theme
  --sb-theme-op $light_theme_op
  --sb-theme-op-deep $light_theme_op_deep
  --sb-theme-op-light #4259ef0d
  --sb-theme-none $light_theme_none
  --sb-blue #425aef
  --sb-red #f04a63
  --sb-pink #ff7c7c
  --sb-green #57bd6a
  --sb-yellow #c28b00
  --sb-yellow-op #d99c001a
  --sb-orange #e38100
  --sb-purple #7a60d2
  --sb-fontcolor #363636
  --sb-reverse #000
  --sb-maskbg rgba(255, 255, 255, 0.6)
  --sb-maskbgdeep rgba(255, 255, 255, 0.85)
  --sb-hovertext var(--sb-main)
  --sb-ahoverbg #f7f7fa
  --sb-lighttext var(--sb-main)
  --sb-secondtext rgba(60, 60, 67, 0.8)
  --sb-scrollbar rgba(60, 60, 67, 0.4)
  --sb-card-btn-bg #edf0f7
  --sb-post-blockquote-bg #fafcff
  --sb-post-tabs-bg #f2f5f8
  --sb-secondbg #f7f7f9
  --sb-secondbg-bg var(--sb-secondbg)
  --sb-shadow-nav 0 5px 12px -5px rgba(102, 68, 68, 0.05)
  --sb-card-bg #fff
  --sb-card-bg-op var(--sb-black-op)
  --sb-card-bg-none rgba(255, 255, 255, 0)
  --sb-shadow-lightblack 0 5px 12px -5px rgba(102, 68, 68, 0.00)
  --sb-shadow-light2black 0 5px 12px -5px rgba(102, 68, 68, 0.00)
  --sb-card-border #e3e8f7
  --sb-shadow-border 0 8px 16px -4px #2c2d300c
  --style-border 1px solid var(--sb-card-border)
  --style-border-always 1px solid var(--sb-card-border)
  --style-border-hover 1px solid var(--sb-main)
  --style-border-hover-always 1px solid var(--sb-main)
  --style-border-dashed 1px dashed var(--sb-theme-op)
  --style-border-forever 2px solid var(--sb-main)
  --sb-navbg var(--sb-theme-op)
  --sb-hl-bg $hl_bg_light
  --sb-hltools-bg $hltools_bg_light

  --sb-background #f7f9fe

:root
  +maxWidth768()
    --style-border 0px solid var(--sb-none)
    --style-border-hover 0px solid var(--sb-main)