span.tags-punctuation
  display flex
  align-items center

.bber-reply
  cursor pointer
  margin 0 4px

  &:hover
    color var(--sb-main)

.post-tips
  color var(--sb-gray)
  font-size 14px;
  position absolute
  bottom 1rem
  left 2rem

  +maxWidth768()
    left 1rem

  a
    color var(--sb-gray)
    border none
    margin 0 4px

    &:hover
      color var(--sb-main)
